.content-container {
    background-image: url(../../Images/Frank.jpg);
    width: 100vw;
    background-position: top;
    background-size: cover;
}
.Vertical-Nav {
    padding: 5px 0.5vw 0;
    background-color: black;
    color: white;
    width: 7vw;
    height: 100vh;
    margin-right: 5px;
}
.content {
    padding: 0;
}

.nav-navbar {
    padding: 0 0.5vw 0;
    list-style: none;
/*    padding: 0;
*/    margin: 0;
}

.navimg-rec {
    padding: auto;
    width: 3vw;
}

.center {
    margin-left: 0.1vw;
}

.body-content {
    padding: 0 !important;
}

.songsview {
    margin: auto;
    background-color: white;
}
